/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2024, 7:23:55 AM
    Author     : HP
*/
body{
    background-color:yellowgreen;
}

form{
    width: 450px;
            height: 250px;
            background-color: rgba(235, 225, 225, 0.5) ;
            margin: 200px auto;
            padding: 50px;
}

input[type="text"]
{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

td {
    padding: 10px;
    
}
h1{
    font-color:' blue';
    text-align:center;
}
input[type="text"]
{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



