/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2024, 9:00:17 PM
    Author     : HP
*/

h1{
    height:80px;
    width:500px;
    background-color:darkgreen;
    color:white;
    margin:200px auto;
    border-radius: 6px;
    text-align:center;
    padding:15px;
    

    
}