h1{
    height:80px;
    width:500px;
    background-color: #4CAF50;
    color:white;
    margin:100px auto;
    border-radius: 8px;
    text-align:center;
    padding:15px;
    
}


h2{
    text-align:center;
    color:darkgreen;
}


form{
    height:300px;
    width:300px;
    margin: 30px auto;
    border-radius: 4px;
    font-weight: bold;
    padding:15px;
      background: #fff; /* Replace with the exact background color */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid white;

    
    
    
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2024, 8:59:29 PM
    Author     : HP
*/

